@font-face {
  font-family: Opensans;
  src: url(../fonts/opensans.woff), url(../fonts/opensans.woff2);
}

@font-face {
  font-family: Opensans-b;
  src: url(../fonts/opensansbold.woff), url(../fonts/opensansbold.woff2);
}
