$opensans: Opensans, sans-serif;
$green: #63d1bb;
$dark-green: #56c3b2;
$swamp: #444444;
$grey-bg: #f1f1f1;
$grey-bg-light: #fafafa;
$tablet-widths: ("min-width: 768px");
$desktop-widths: ("min-width: 1150px");
