.about-us {
  @include container();
  margin-bottom: 50px;

  &__title {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
  }

  &__features {
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: bold;
    font-size: 17px;
  }

  &__feature {
    padding-top: 80px;
  }
}
@media ($tablet-widths) {
  .about-us {
    &__title {
      font-size: 43px;
      line-height: 50px;
    }

    &__features {
      width: auto;
      display: flex;
    }

    &__wrapper {
      width: 300px;
    }
  }
}
@media ($desktop-widths) {
  .about-us {
    &__container {
      padding-left: 175px;
    }
  }
}
