.catalog-products {
  margin-bottom: 42px;

  &__item {
    margin-bottom: 30px;
    border: 1px solid $grey;
  }

  &__info {
    display: flex;
    flex-direction: column;
    min-height: 152px;
    margin-top: 20px;
    padding-left: 27px;
    color: $swamp;
  }

  &__title {
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
  }


  &__properties {
    position: relative;
    margin-bottom: 41px;
    font-size: 13px;
    line-height: 30px;
  }

  &__price {
    position: relative;
    display: flex;
    padding-bottom: 27px;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    &::before {
      position: absolute;
      content: '';
      top: -21px;
      height: 1px;
      width: 200px;
      background-color: $grey;
    }
  }

  &__buy-button {
    margin-left: auto;
    font-size: 0;
    width: 20px;
    height: 20px;
    background: #000;
  }
}
@media ($tablet-widths) {
  .catalog-products {
    margin-bottom: 63px;
    &__item {
      display: flex;
      margin-bottom: 47px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 280px;
      min-height: 334px;
      padding-left: 26px;
      margin-top: 0;
    }

    &__title {
      padding-top: 30px;
      font-size: 20px;
      line-height: 24px;
    }

    &__pic img {
      width: 334px;
      height: 334px;
    }

    &__properties {
      margin-bottom: 0;
      font-size: 15px;
      line-height: 30px;
    }

    &__price {
      padding-left: 6px;
      font-size: 17px;
      line-height: 24px;
      &::before {
        bottom: -176px;;
        width: 275px;
      }
    }
  }
}
@media ($desktop-widths) {
  .catalog-products {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    &__item {
      flex-direction: column;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }

    &__title {
      margin-bottom: 0;
      padding-top: 22px;
    }

    &__pic {
      img {
        width: 315px;
        height: 462px;
      }
    }

    &__properties {
      margin-bottom: 0px;
    }

    &__info {
      box-sizing: border-box;
      justify-content: space-between;
      min-height: 190px;
      padding-left: 25px;
    }

    &__price {
      padding-left: 0;
      margin-top: 0px;
      padding-bottom: 30px;
    }
  }
}
