.catalog-products {
  margin-bottom: 70px;

  &__item {
    margin-bottom: 59px;
  }

  &__info {
    margin-top: 20px;
    padding-left: 27px;
    color: $swamp;
  }

  &__title {
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
  }


  &__properties {
    display: block;
    margin-bottom: 42px;
    font-size: 13px;
    line-height: 30px;
  }

  &__price {
    display: flex;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
  }

  &__buy-button {
    margin-left: auto;
    font-size: 0;
    width: 20px;
    height: 20px;
    background: #000;
  }
}
@media ($tablet-widths) {
  .catalog-products {
    &__item {
      display: flex;
      margin-bottom: 47px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      width: 280px;
      padding-left: 23px;
      margin-top: 0;
    }

    &__title {
      padding-top: 30px;
      font-size: 20px;
      line-height: 24px;
    }

    &__pic img {
      width: 334px;
      height: 334px;
    }

    &__properties {
      font-size: 15px;
      line-height: 30px;
    }

    &__price {
      margin-top: 160px;
      padding-left: 6px;
      font-size: 17px;
      line-height: 24px;
    }
  }
}
@media ($desktop-widths) {
  .catalog-products {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

    &__item {
      flex-direction: column;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }
    }

    &__title {
      padding-top: 22px;
    }

    &__pic {
      img {
        width: 315px;
        height: 462px;
      }
    }

    &__info {
      // min-height: 200px;
      padding-left: 25px;
    }

    &__price {
      padding-left: 0;
      margin-top: 17px;
    }
  }
}
