.contacts {
  margin-bottom: 40px;

  &__container {
    @include container();
    margin-bottom: 40px;
  }

  &__title {
    margin: 0 0 25px;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
  }

  &__icon-flag {
    display: none;
  }

  &__field {
    width: 75px;
    padding-top: 30px;
    vertical-align: top;
    text-align: top;
  }

  &__value {
    padding-top: 30px;
  }

  &__items {
    font-size: 15px;
    line-height: 30px;

    p {
      margin: 0;
    }
  }

  &__email {
    display: flex;
    margin-bottom: 30px;

    a {
      border-bottom: 1px solid $green;

      &:hover {
        color: $green;
      }

      &:active {
        opacity: 0.3;
      }
    }

    span {
      margin-right: 30px;
    }
  }

  &__adress {
    display: flex;

    p {
      width: 145px;
    }

    span {
      margin-right: 30px;
    }
  }

  &__map {
    width: 100%;
  }

  &__write-us {
    width: 260px;
    margin: 31px auto 0;
  }
}
@media ($tablet-widths) {
  .contacts {
    margin-bottom: 53px;

    &__container {
      position: relative;
      margin-bottom: 53px;
    }

    &__items {
      display: flex;
      font-size: 17px;
      line-height: 30px;
    }

    &__title {
      margin-bottom: 50px;
      font-size: 43px;
      line-height: 50px;
    }

    &__icon-flag {
      display: block;
      position: absolute;
      top: -15px;
      right: 0;
    }

    &__adress {
      display: flex;

      p {
        width: 225px;
      }
    }

    &__email {
      margin-right: 46px;
    }

    &__map {
      width: 100%;
      height: 460px;
    }

    &__write-us {
      width: 230px;
      margin: 50px auto 0;
    }
  }
}
@media ($desktop-widths) {
  .contacts {
    @include container();
    margin-bottom: 115px;
    display: flex;
    position: relative;

    &__container {
      width: 320px;
      padding-left: 171px;
      margin-right: 47px;
      display: flex;
      flex-direction: column;
    }

    &__title {
      font-size: 53px;
      line-height: 57px;
      margin-top: 69px;
    }

    &__icon-flag {
      top: 60px;
      left: 67px;
    }

    &__items {
      display: flex;
      flex-direction: column;
    }

    &__email {
      margin-bottom: 30px;
      margin-right: 0;
    }

    &__map {
      width: 525px;
      height: 464px;
    }

    &__write-us {
      position: absolute;
      bottom: 0;
      left: 175px;
    }
  }
}
