.knitting-order {
  &__container {
    @include container();
  }

  &__title {
    position: relative;
    margin: 0;
    margin-bottom: 26px;
    padding: 70px 0;
    font-weight: bold;
    font-size: 27px;
    line-height: 30px;
    text-align: center;
    background: $grey-bg;
  }

  &__descr {
    margin-bottom: 27px;
    font-size: 13px;
    line-height: 24px;
    color: $swamp;
  }
}
@media ($tablet-widths) {
  .knitting-order {
    &__title {
      padding-top: 94px;
      padding-bottom: 90px;
      margin-bottom: 64px;
      font-size: 43px;
      line-height: 50px;
      &::before {
        content: "";
        position: absolute;
        z-index: 100;
        bottom: 0px;
        height: 20px;
        width: 100%;
        background-repeat: repeat-x;
        display: block;
        background: url("/img/bg-zigzag-fill.svg");
      }
    }

    &__descr {
      margin-bottom: 75px;
      font-size: 17px;
      line-height: 30px;
    }
  }
}


@media ($desktop-widths) {
  .knitting-order {
    &__title {
      margin-bottom: 127px;
      padding-top: 100px;
      padding-bottom: 100px;
      font-size: 53px;
      line-height: 57px;
    }
    &__descr {
      width: 700px;
      padding-left: 175px;
    }
    &__container {
      // padding-left: 60px;
    }
  }
}
