.knitting-form {
  margin-bottom: 55px;

  &__container {
    @include container();
    position: relative;
  }

  &__item {

    &--type {

    }

    &--color {
      h2 {
        margin-top: 10px;
      }
    }

    &--name {
      margin-bottom: 28px;
    }

    &--phone {
      margin-bottom: 35px;
    }

    &--email {
      margin-bottom: 31px;
      h2::before {
          width: 180px;
      }
    }

    &--additional {
      textarea {
        width: 245px;
        height: 120px;
        border: 2px solid #000;
        margin-top: 9px;
        padding-top: 20px;
        padding-left: 10px;
        font-family: $opensans;
        font-size: 17px;
        line-height: 18px;
        &:hover {
          border: 2px solid $green;
        }
        &:focus {
          border: 2px solid $green;
        }
      }
    }

  }

  &__title {
    font-family: $opensans;
    font-weight: bold;
    font-size: 17px;
    line-height: 16px;
    color: $green;
    text-transform: uppercase;
    &::before {
      content: "";
      position: absolute;
      top: 6px;
      right: 0;
      height: 2px;
      width: 200px;
      background: $green;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 17px;

    &--checkbox {
      margin-top: 34px;
    }

    label {
      display: flex;
      flex-direction: column;
    }
  }

  &__toggle {
    // margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;

    &:first-child {
      margin-top: 8px;
    }

    span {
      display: block;
      width: 160px;
      position: relative;
      padding-left: 60px;
      font-family: $opensans;
      font-weight: bold;
      font-size: 17px;
      line-height: 18px;

      &::before {
        position: absolute;
        content: "";
        left: 0;
        top: -8px;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        border: 2px solid $swamp;
      }
    }
    span:hover {
      &:before {
          border: 2px solid $green;
      }
    }
    span:active {
      &:before {
          border: 2px solid $grey;
      }
    }

    input[type="radio"] {
      display: none;

      &:checked+span::after {
        position: absolute;
        content: "";
        left: 12px;
        top: 3px;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background-color: $green;
      }
    }

  }

  &__checkbox {
    margin-bottom: 42px;
    cursor: pointer;

    span {
      font-weight: bold;
      font-size: 17px;
      line-height: 18px;
      position: relative;
      padding-left: 60px;

      &::before {
        position: absolute;
        content: "";
        top: -8px;
        left: 0;
        width: 38px;
        height: 38px;
        border: 2px solid $swamp;
      }
    }
    span:hover {
      &:before {
          border: 2px solid $green;
      }
    }
    span:active {
      &:before {
          border: 2px solid $grey;
      }
    }

    input[type="checkbox"] {
      display: none;

      &:checked+span::after {
        position: absolute;
        content: "";
        left: 11px;
        top: 0px;
        width: 23px;
        height: 23px;
        background: url(../img/icon-tick.svg) no-repeat 50% 50%;
      }
    }
  }

  &__name {
    margin-bottom: 8px;
    &:nth-child(2) {
      margin-bottom: 9px;
    }
    &:last-child {
      margin-bottom: 0;
    }

    span {
      margin: 15px 0;
      font-weight: bold;
      font-size: 17px;
      line-height: 18px;
    }

    input[type="text"] {
      padding-bottom: 15px;
      border: none;
      font-family: $opensans;
      font-size: 17px;
      line-height: 18px;
      background: none;
      border-bottom: 2px solid #000;
      &:hover {
        border-bottom: 2px solid $green;
      }
      &:focus {
        border-bottom: 2px solid $green;
      }
    }
  }

  input[name="phone"] {
    padding-bottom: 24px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    &:hover {
      border-bottom: 2px solid $green;
    }
    &:focus {
      border-bottom: 2px solid $green;
    }
  }

  input[name="email"] {
    padding-bottom: 19px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    &:hover {
      border-bottom: 2px solid $green;
    }
    &:focus {
      border-bottom: 2px solid $green;
    }
  }

  &__icon-phone {
    position: absolute;
    top: 36px;
    right: 8px;
    opacity: 0.2;
    &:hover {
      fill: $green;
    }
  }
  &__icon-mail {
    position: absolute;
    top: 30px;
    right: 4px;
    opacity: 0.2;
    &:hover {
      fill: $green;
    }
  }


  &__legend {
    display: block;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 30px;
    margin-top: 10px;
  }

  &__button {
    background-color: #fff;
  }
}
@media ($tablet-widths) {
  .knitting-form {
    position: relative;

    &__container {
      display: flex;
    }

    &__item {
      display: flex;
      flex-direction: row;
      &--type {
        margin-top: 40px;

        h2 {
          margin-right: 150px;
        }
      }

      &--color {
        padding-top: 62px;
        padding-bottom: 22px;
        margin-bottom: 54px;
        background-color: $grey-bg;

        h2 {
          margin-top: 14px;
        }
      }

      &--name {
        margin-bottom: 63px;

        h2 {
          margin-right: 125px;
        }
      }

      &--phone {
        margin-bottom: 0;
        padding-bottom: 31px;
        padding-top: 50px;
        background-color: $grey-bg;
      }

      &--email {
        padding-bottom: 56px;
        margin-bottom: 40px;
        background-color: $grey-bg;

        h2 {
          width: 100px;
          margin-right: 100px;
        }
      }

      &--additional {
        margin-bottom: 54px;

        h2 {
          margin-right: 126px;
        }

        textarea {
          width: 484px;
          height: 115px;
          margin-top: 0;
        }
      }
    }

    &__title {
      position: relative;
      margin-right: 142px;
      &::before {
        display: none;
      }
    }

    &__name {
      margin-bottom: 25px;
      display: flex;
      flex-direction: row;

      &:nth-child(2) {
        margin-bottom: 25px;
      }
      span {
        display: block;
        font-size: 19px;
        line-height: 18px;
        margin-right: 40px;
      }
    }

    &__wrapper {
      margin-top: 0;

      &--checkbox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 520px;
      }

      &--name {
        // padding-top: 10px;
        label {
          flex-direction: row;
        }
        input {
          padding-top: 15px;
        }
      }
    }

    input[name="name"] {
      width: 410px;
      &:hover {

      }
    }
    input[name="surname"] {
      width: 360px;
    }

    input[name="patronymic"] {
      width: 360px;
    }

    input[name="phone"] {
      background: $grey-bg;
    }

    input[name="email"] {
      background: $grey-bg;
    }

    &__icon-phone {
      top: 8px;
      right: 20px;
    }

    &__icon-mail {
      top: 5px;
      right: 20px;
    }

    &__checkbox {
      margin-top: 10px;
      margin-bottom: 42px;

      &:nth-child(odd) {
        width: 260px;
      }

      span {
        font-weight: bold;
        font-size: 19px;
        line-height: 18px;
        position: relative;
        padding-left: 60px;

        &::before {
          position: absolute;
          content: "";
          top: -12px;
          left: -20px;
          width: 50px;
          height: 50px;
          border: 2px solid $swamp;
        }
      }

      input[type="checkbox"] {
        display: none;

        &:checked+span::after {
          left: -2px;
        }
      }
    }

    &__toggle {
      margin-top: 10px;
      margin-bottom: 60px;

      &:first-child {
        margin-top: 0;
      }

      span {
        width: 254px;
        margin-top: 10px;
        font-size: 19px;
        line-height: 18px;

        &::before {
          left: -21px;
          top: -13px;
          width: 45px;
          height: 45px;
        }
      }
    }

    input[type="radio"] {
      &:checked+span::after {
        left: -6px;
        top: 2px;
        width: 20px;
        height: 20px;
      }
    }

    &__button {
      width: 230px;
    }

    &__legend {
      position: absolute;
      bottom: -17px;
      right: 0;
      font-size: 17px;
      line-height: 30px;
    }
  }
}
@media ($desktop-widths) {
  .knitting-form {
    &__title {
      margin-right: 90px;
      margin-left: 58px;
    }
    &__name {
      input[type="text"] {
        width: 100%;
      }
    }

    &__button {
      margin-left: 175px;
    }

    &__item {

      &--type {
        h2 {
          margin-right: 100px;
        }
      }
      &--color {
        padding-top: 55px;
      }
      &--name {
        h2 {
          margin-right: 74px;
        }
      }

      &--email {
        h2 {
          margin-right: 25px;
        }
      }

      &--additional {
          h2 {
            margin-right: 74px;
          }
        textarea {
          width: 685px;
        }
      }
    }

    &__wrapper {
      &--checkbox {
        width: 800px;
      }
      &--name {
        width: 700px;
      }
    }

    input[name="phone"] {
      width: 685px;
    }

    input[name="email"] {
      width: 685px;
    }
    &__checkbox {
        width: 260px;
      &:nth-child(odd) {
        width: 260px;
      }
    }
    &__legend {
      right: 175px;
    }
  }
}
