.knitting-order {
  &__container {
    width: 260px;
    padding: 0 30px;
  }

  &__title {
    margin: 0;
    padding: 70px 0;
    font-weight: bold;
    font-size: 27px;
    line-height: 30px;
    text-align: center;
    background: $grey-bg;
  }

  &__descr {
    font-size: 13px;
    line-height: 24px;
    color: $swamp;
  }
}
