.main-nav {
  &__items {
    z-index: 100;
    left: 0;
    top: 64px;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    background: #fff;
  }
 &__wrapper {
   top: 80px;
 }
  &__moveable {
    z-index: 200;
    top: 230px;
    left: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    background: #fff;
  }

  &__moveable-item {
    border-top: solid #ececec 1px;
    padding: 23px 0;

    a {
      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  &__item {
    border-top: solid #ececec 1px;
    padding: 23px 0;

    a {
      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }

    &--search a {
      &:hover {
        color: $green;
      }
      &:active {
        opacity: 0.3;
      }
    }
  }

  &__wide {
    padding: 0;
    margin: 0;
    display: none;
    list-style: none;

    a {
      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }

  &__toggle {
    position: absolute;
    cursor: pointer;
    top: 32px;
    right: 28px;
    border: none;
    font-size: 0;
    width: 22px;
    height: 15px;
    padding: 0;
    background: #fff;
  }

  &--closed .main-nav__toggle {
    background-image: url("/img/icon-menu-open.svg");
    background-size: contain;
  }

  &--opened .main-nav__toggle {
    width: 15px;
    height: 15px;
    background-image: url("/img/icon-menu-close.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}
@media ($tablet-widths) {
  .main-nav {
    &__toggle {
      display: none;
    }

    &__item {
      padding: 0;
      display: block;
      border: none;
    }

    &__items {
      position: static;
      display: flex;
    }

    &__wide {
      display: flex;
    }

    &__desktop-items {
      display: none;
      z-index: 100;
    }

    &__tablet-items {
      position: absolute;
      z-index: 100;
      top: 92px;
      right: 19px;
      display: block;
      font-size: 15px;
    }

    &__wrapper {
      display: flex;
    }

    &__moveable {
      position: absolute;
      display: flex;
      top: 92px;
      left: 24px;
      padding: 0;
      margin: 0;
      list-style: none;
      font-size: 15px;
      font-weight: bold;
      background: none;
    }

    &__moveable-item {
      padding: 0 38px 0 0;
      border: none;
    }
  }
}
@media ($desktop-widths) {
  .main-nav {
    &__wrapper {
      display: flex;
      justify-content: space-between;
    }

    &__items {
      margin-left: auto;
      z-index: 201;
    }
    &__tablet-items {
      top: 100px;
    }

    &__moveable {
      position: static;
      margin-left: -5px;
      margin-right: 290px;
      font-size: 17px;
    }

    &__moveable-item {
      width: 156px;
      margin-right: 30px;
      font-weight: bold;
    }

    &__desktop-items {
      display: flex;
      position: absolute;
      left: 23px;
      top: 100px;
      font-size: 15px;
      line-height: 24px;
      font-weight: bold;
    }

    &__desktop-item {
      margin-right: 62px;
    }
  }
}
@media ($mobile-widths-only) {
  .main-nav--closed {
    padding: 0;
  }


  .main-nav--closed .main-nav__wrapper {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    z-index: 100;
    width: 100%;
    left: 0;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    display: block;
    height: auto;
  }

  .main-nav--nojs {
    padding-top: 20px;
  }
}
