.manufacturing {
  &__container {
    width: 260px;
    padding: 0 30px;
  }

  &__title {
    padding-left: 88px;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
  }

  &__descr {
    width: 215px;
    padding-left: 27px;
  }

  &__buy-button {
    margin: 0 auto;
    margin-bottom: 95px;
    width: 200px;
  }
}
