.manufacturing {
  @include container();
  margin-bottom: 60px;

  &__container {
    border: 1px solid $grey;
    padding-bottom: 32px;
  }

  &__process {
    position: relative;
    padding-top: 84px;
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 90px;
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
  }


  &__descr {
    width: 215px;
    margin-top: 21px;
    padding-left: 35px;
    p {
      width: 185px;
      margin-bottom: 26px;
      font-size: 13px;
      line-height: 24px;
    }
  }

  &__buy-button {
    width: 190px;
  }
}
@media ($tablet-widths) {
  .manufacturing {
    &__container {
      padding-bottom: 47px;
    }
    &__process {
      display: flex;
      flex-direction: column;
      padding-top: 0;
    }

    &__video {
      height: 456px;
      background-color: $grey-bg;
    }

    &__title {
      position: static;
      margin: 0;
      margin-top: 21px;
      margin-bottom: 31px;
      padding-left: 61px;
      font-size: 20px;
      line-height: 24px;
    }

    &__descr {
      margin: 0 auto;
      width: 584px;
      padding-left: 0;
      font-size: 15px;
      line-height: 30px;
      p {
        width: 585px;
        margin-bottom: 37px;
        font-size: 15px;
        line-height: 30px;
      }
    }

    &__buy-button {
      width: auto;
    }
  }
}
@media ($desktop-widths) {
  .manufacturing {
    margin-bottom: 25px;
    &__container {
      display: flex;
    }

    &__video {
      width: 683px;
      margin-right: 75px;
    }

    &__title {
      padding: 0;
      padding-top: 5px;
      margin: 0;
    }

    &__process {
      flex-direction: row;
    }

    &__descr {
      width: 234px;
      margin-top: 102px;
      padding-bottom: 105px;
      p {
        width: 230px;
        margin: 0;
        margin-top: 35px;
      }
    }

    &__buy-button {
      margin-top: 40px;
      margin-bottom: 0;
    }
  }
}
