.page-footer {
  background: $grey-bg;

  &__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 22px;
    font-weight: bold;
    font-size: 19px;
    line-height: 18px;

    span {
      color: #000;
      margin-right: 30px;
    }
  }
}
