.page-header {
  position: relative;
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__logo {
    margin: 0 auto;
  }
}

@media ($tablet-widths) {
    .page-header {
      @include container();
      flex-direction: row;
      &__logo {
        margin: 0;
        // margin-right: auto;
      }
      &__toggle {
        display: none;
      }
    }
}

@media ($desktop-widths) {
  .page-header {
    justify-content: space-between;
    &__logo {
      position: absolute;
      left: 45%;
    }
  }
}
