.page-header {
  position: relative;
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__logo {
    margin: 0 auto;
  }
}
@media ($tablet-widths) {
  .page-header {
    @include container();
    flex-direction: row;

    &__logo {
      margin: 0;
    }

    &__toggle {
      display: none;
    }
  }
}
@media ($desktop-widths) {
  .page-header {
    justify-content: space-between;
    padding: 25px;
    &__logo {
      position: absolute;
      top: 0;
      left: 45%;
      &:hover {
        opacity: 0.6;
      }
      &:active {
        opacity: 0.3;
      }
    }
  }
}
