.page-footer {
  background: $grey-bg;

  &__container {
    @include container();
  }

  &__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 22px;
    font-weight: bold;
    font-size: 19px;
    line-height: 18px;

    a {
      font-size: 0;
      width: 20px;
      height: 20px;
      background: #000;
    }

    span {
      color: #000;
      margin-right: 30px;
    }
  }

  &__logo {
    display: none;
  }
}
@media ($tablet-widths) {
  .page-footer {
    &__container {
      display: flex;
      padding-top: 28px;
    }

    &__logo {
      display: block;
      width: 185px;
      align-self: center;
      margin-right: auto;
    }

    &__copyright {
      width: 185px;
      margin-left: auto;
    }
  }
}

@media ($desktop-widths) {
  .page-footer {
    &__container {
      padding-top: 20px;
    }
  }
}
