.popular-product {
  margin-bottom: 70px;

  &__container {
    width: 260px;
    padding: 0 30px;
  }

  &__title {
    padding-top: 30px;
    font-family: $opensans-b;
    font-size: 25px;
    line-height: 30px;
  }

  &__sub-title {
    color: #63d1bb;
    font-size: 17px;
    font-family: $opensans-b;
    line-height: 16px;
    text-transform: uppercase;
  }

  &__descr {
    font-family: $opensans;
    font-size: 15px;
    line-height: 24px;
  }

  &__properties {
    font-family: $opensans;
    font-size: 15px;
    line-height: 20px;
  }

  &__price {
    padding-top: 25px;
    font-family: $opensans-b;
    font-size: 17px;
    line-height: 24px;
  }
}
