.products {
  &__header {
    background: url("/img/hero-mobile@1x.jpg") no-repeat;
    background-color: $grey-bg-light;
    background-position: top;
    background-size: 573px auto;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("/img/hero-mobile@2x.jpg") no-repeat;
    }
  }

  &__header-title {
    width: 260px;
    margin: 0 auto;
    padding-top: 66px;
    padding-bottom: 121px;
    font-weight: bold;
    font-size: 27px;
    line-height: 30px;
    text-align: center;
  }

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item {
    position: relative;
    padding: 0 27px;
    padding-top: 27px;
    padding-bottom: 27px;
    color: #fff;
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;


    &--bright {
      background: $green;
    }

    &--dark {
      background: $dark-green;
    }
  }

  &__icon-interior {
    position: absolute;
    right: 37px;
    bottom: 16px;
    opacity: 0.5;
  }
  &__icon-toy {
    position: absolute;
    right: 27px;
    bottom: 20px;
    opacity: 0.5;
  }
}
@media ($tablet-widths) {
  .products {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      z-index: 100;
      bottom: 0px;
      height: 20px;
      width: 100%;
      background-repeat: repeat-x;
      display: block;
      background: url("/img/bg-zigzag-fill.svg");
    }
    &__header {
      position: relative;
      margin-bottom: 50px;
      background: url("/img/hero-desktop@1x.jpg") no-repeat 50% 50%;
    }

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("/img/hero-desktop@2x.jpg") no-repeat;
    }

    &__header-title {
      width: 500px;
      padding: 145px 0 372px;
      font-size: 43px;
      line-height: 50px;
    }

    &__items {
      @include container();
      padding-left: 0;
      flex-direction: row;
    }

    &__item {
      width: 100%;
      margin-top: 5px;
      padding-left: 36px;
      font-size: 20px;
      line-height: 30px;
      &:hover {
        margin-top: 0;
        padding-top: 25px;
        padding-bottom: 32px;
      }
    }
    &__icon-interior {
      right: 35px;
      bottom: 24px;
    }
    &__icon-toy {
      right: 32px;
      bottom: 25px;
    }
  }
}
@media ($desktop-widths) {
  .products {
    margin-bottom: 123px;
    &::before {
      bottom: -12px;
      height: 34px;
      background-position: -20px;
    }

    &__header-title {
      width: 625px;
      padding-top: 165px;
      padding-bottom: 356px;
      font-size: 53px;
      line-height: 57px;
    }
  }
}
