.products {
  &__header {
    background: url("/img/hero-mobile@1x.jpg") no-repeat;
    background-position: center;

    &-title {
      margin: 0;
      width: 260px;
      padding-top: 80px;
      padding-bottom: 185px;
      font-family: $opensans-b;
      font-size: 27px;
      line-height: 30px;
      text-align: center;
    }
  }

  &__item {
    position: relative;
    display: flex;
    padding: 30px;
    color: #fff;
    font-size: 19px;
    line-height: 24px;

    &--bright {
      background: #63d1bb;
    }

    &--dark {
      background: #56c3b2;
    }
  }
}
