.reviews {
  margin-bottom: 90px;

  &__container {
    position: relative;
    @include container();
  }

  &__title {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
  }

  &__item {
    margin: 0 0 30px;

    p {
      width: 260px;
      font-size: 15px;
      line-height: 30px;
    }
  }

  &__author-name {
    font-weight: bold;
    font-size: 18px;

    span {
      font-weight: normal;
    }
  }

  &__write-review {
    margin-top: 38px;
  }

  &__controls {
    display: flex;
    background: none;
  }
}
@media ($tablet-widths) {
  .reviews {
    background-image: url("/img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: left;

    &__title {
      font-size: 43px;
      line-height: 50px;
      padding-top: 50px;
    }

    &__item {
      p {
        width: 650px;
      }
    }

    &__author-name {
      display: block;
      width: 300px;
    }

    &__items {
      display: flex;
    }

    &__write-review {
      position: absolute;
      width: 175px;
      height: 50px;
      top: 0;
      right: 0;
    }

    &__controls {
      position: absolute;
      right: 0;
      bottom: 0;

      &--prev {
        right: 100px;
      }
    }
  }
}
@media ($desktop-widths) {
  .reviews {
    @include container();

    &__items {
      padding-left: 175px;
    }

    &__title {
      padding-left: 175px;
    }

    &__item {
      p {
        width: 770px;
      }
    }
  }
}
