.reviews {
  margin-bottom: 90px;

  &__container {
    width: 260px;
    padding: 0 30px;
  }

  &__title {
    font-family: $opensans-b;
    font-size: 25px;
    line-height: 30px;
  }

  &__item {
    margin: 0;
    margin-bottom: 30px;

    p {
      width: 260px;
      font-family: $opensans;
      font-size: 15px;
      line-height: 30px;
    }
  }
  &__author-name {
    font-style: normal;
    font-family: $opensans-b;
    font-size: 18px;
    span {
      font-family: $opensans;
    }
  }
  &__write-review {
    margin-top: 38px;
  }

  &__controls {

  }

}
